We have a [metrics dashboard][dashboard] intended to
track against some of the [Development Department KPIs][kpis], particularly
those around merge request creation and acceptance. From that dashboard, the
following chart shows [MR Rate].

<%= tag(:embed, src: signed_periscope_url(dashboard: 681347, chart: 9159032, embed: 'v2', filters: [{ name: 'team_group' , value: ['product planning', 'certify'] }, { name: 'technology_group' , value: 'backend' }]), width: '100%', height: '300') %>

The following chart shows the MR Rate of the Dev section as a whole, for the
identification of trends:

<%= tag(:embed, src: signed_periscope_url(dashboard: 681347, chart: 9159032, embed: 'v2', filters: [{ name: 'sub_department' , value: 'dev' }]), width: '100%', height: '300') %>

[dashboard]: https://app.periscopedata.com/app/gitlab/681347/Development-Embedded-Dashboard
[kpis]: /company/kpis/#development-department-kpis
[MR Rate]: /handbook/engineering/performance-indicators/#engineering-mr-rate
